{
    "type": "outlabeledPie",
    "data": {
        "labels": {{ big_tables["table_name"] }},
        "datasets": [
            {
                "backgroundColor": {{ big_tables["colors"] }},
                "data": {{ big_tables["table_size"] }}
            }
        ]
    },
    "options": {
        "plugins": {
            "legend": false,
            "outlabels": {
                "text": "%l %p",
                "color": "white",
                "stretch": 35,
                "font": {
                    "resizable": true,
                    "minSize": 12,
                    "maxSize": 18
                }
            }
        }
    }
}
