{% extends "templates/_common/bootstrap.html.j2" %}

{% set schema_name = "bookings" %}
{% set max_large_tables = 5 %}

{% set params = [5, "bookings"] %}

{% import 'templates/top_largest_tables/main.sql.j2' as top_largest_tables with context %}
{% set big_tables = fetchone(top_largest_tables | string, params) %}

{% import 'templates/_common/quickchart_outlabeled_pie.json.j2' as outlabeled_pie_json with context %}


{% block content %}

    <div class="row">
        <img src='https://quickchart.io/chart?c={{ outlabeled_pie_json | urlencode() }}'>
    </div>

{% endblock %}
