{% import 'sql/table_columns.sql' as table_columns_sql with context %}
{% set columns = fetchall(table_columns_sql | string) %}

{% for table_name, table_columns in columns|groupby("table_name") %}
.{{ table_name }} 
[cols="1,3,3,1,1"]
|===
|Position|Name|Type|Length|Nullable
{% for column in table_columns %}
|{{ column["ordinal_position"] }}
|{{ column["column_name"] }}
|{{ column["data_type"] }}
|{{ column["character_maximum_length"] }}
|{% if column["is_nullable"] == 'YES' %}V{% endif %}
{%endfor%}
|===
{% endfor %}
